.token-main{
    margin: 60px 500px auto;
    background-color:white;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    display: inline-block;
    text-align: center;
    
}
.login-token{
    border: 1px solid lightseagreen;
    border-radius: 5px;
    padding: 12px 24px;
    margin: 4px 2px;
        
}
.token-submit{
    display: block;
    width: 100px;
    margin: 10px auto;
    border: 1.5px solid lightseagreen;
    border-radius: 5px;
    text-align: center;
}