.error{
    color: red;
}
.createusers-main{
    margin:60px 500px auto;
    background-color:white;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    display: block;
    text-align: center;
}
.createusers-input{
    border: 1px solid lightseagreen;
    border-radius: 5px;
    padding: 12px 24px;
    margin: 4px 2px;
        
}
.createusers-submit{
    display: block;
    width: 100px;
    margin: 10px auto;
    border: 1.5px solid lightseagreen;
    border-radius: 5px;
    text-align: center;
}
/* table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
} */